.title-form{
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.detail-form{
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
}
.submit{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.form-container{
  justify-content: flex-start;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightsalmon;
  padding-top: 40px;
  padding-bottom: 60px;
  padding-right: 42px;
  padding-left: 42px;
  width: 20%;
  border-radius: 12px;
}


.text-field {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #E48586;
  font-size: 1rem;
}

.text-field:focus {
  outline: none;
  border-color: #d6d0d0;
}


.button-38 {
  background-color: #FFE7E7;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding-right: 48px;
  padding-left: 48px;
  font-family: "monserrat";
  font-size: 1em;
  }
  .button-38:hover {
  background-color: #FFDBAA;
  }
  .button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  }
  .button-38:focus-visible {
  box-shadow: none;
  }
