.center{
  justify-content: flex-end;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 6%;
}
.form-container{
  border: 1px solid rgba(254, 230, 227, 0.606);
  border-radius: 6px;
  background-color: #fee6e3;
  border-radius: 10px;
  box-shadow: 0 4px 8px #fee6e383;
  overflow: hidden;
  h1{
    color: #E48586;
  }
}
